* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}



/*Nav Bar*/
#nav {
  background-color: black;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Prompt', sans-serif;
  position: fixed;
  top:0;
  width: 100%;
  z-index: 5;
}

#home-lnk {
  text-decoration: none;
}

.tablet-res {
  display: none;
}

.logo {
  font-size: 30px;
  background: linear-gradient(90deg, #12C2E9 0%, #c471ed 50%, #f64f59 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  float: left;
  font-family: 'Zen Dots', sans-serif;
  font-style: oblique;
  margin-top: 10px;
  padding: 20px;
  margin-left: 3rem;
  margin-right: 3rem;
}

#ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  width: 80%;
  gap: .6em;
}

#li {
  margin-top: 30px; 
  cursor: pointer;
}

.mn {
  text-decoration: none;
  color: white;
  padding: 13px;
}

.mn:hover {
  background: linear-gradient(90deg, #12C2E9 0%, #c471ed 50%, #f64f59 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#mni {
  padding: 10px;
  margin-bottom: 30px;
}
/*End Of Nav Bar*/


/*Body*/
body {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; 
  background: black;
  font-family: 'Prompt', sans-serif;
}
/*End Of Body*/


/*Account Form*/
h1 {
  margin-top: 3em;
  padding-bottom: 1em;
  text-align: center;
  background: linear-gradient(90deg, #12C2E9 0%, #c471ed 50%, #f64f59 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
  
#user-role {
  text-align: left;
  color: #FF00FF;
}

#messages {
  text-align: center;
  color: #FF00FF;
}

h2 {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: left;
  background: linear-gradient(90deg, #12C2E9 0%, #c471ed 50%, #f64f59 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.First-FormContainer, .Second-FormContainer, .Third-FormContainer {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}  
   
.Third-FormContainer {
  margin-bottom: 10em;
}  

form {
  width: 60%;
  background: rgba(0, 0, 0, 0.28);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.2px);
  -webkit-backdrop-filter: blur(8.2px);
  margin-top: 1em;
  margin-bottom: 3em;
  border: none;
}
  
input {
  width: 100%;
  font-size: 13px;
  border: 1px solid whitesmoke;
  background: transparent;
  padding: 20px;
  color: lightslategray;
  border-radius: 1em;
  margin-top: 1em;
  margin-bottom: 2em;
}
  
label {
  float: left;
  color: whitesmoke;
  font-size: 13px;
}
 
.sub {
  margin-top: 2em;
  margin-bottom: 3em;
  border-radius: 1.2rem;
  color: whitesmoke;
  border: 1px solid whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  cursor: pointer;
  width: 23%;
}
  
.sub:hover {
  background: linear-gradient(90deg, #12C2E9 0%, #c471ed 50%, #f64f59 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}  
/*End of Account Form*/