@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  scroll-behavior : smooth;
}

body {
  margin:0;
  padding: 0;
  overflow-x: hidden; 
}

div {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 1em;
}

p {
  display: flex;
  color: lightslategrey;
  font-size: 1em;
  font-family: 'Prompt', sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

img {
    padding-top: 1em;
}

a {
  text-decoration: none;
  padding-top: 1em;
}
  
button {
  border-radius: 1em;
  font-size: .7em;
  padding: 6px;
  background-color: black;
  font-family: 'Prompt', sans-serif;
  color: lightslategray;
  text-align: center;
  justify-content: center;
  display: flex;
  border: 1px solid lightslategray;
}

button:hover {
  cursor: pointer;
  background: linear-gradient(90deg, #12C2E9 0%, #c471ed 50%, #f64f59 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  color: whitesmoke;
  font-family: 'Lexend Zetta', sans-serif;
  text-align: center;
  font-size: 6rem;
  margin-top: 2em;
}
 
ul {
  color: lightslategrey;
  font-size: .7em;
  gap: 3em; 
  list-style-type: none;
  font-family: 'Prompt', sans-serif;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 10em;
}

li:hover {
  cursor: pointer;
  background: linear-gradient(90deg, #12C2E9 0%, #c471ed 50%, #f64f59 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}